body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9; /* Cor de fundo clara */
  color: #333; /* Cor do texto */
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
  margin: 50px auto;
}

input {
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}